.sequencer {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #343a40;
  color: white;
}

.sequencer-row {
  width: 95%;
  height: 8%;
  position: relative;
}

.sequencer-row:nth-child(even) {
  background-color: #434a52;
}

.sixteen-steps {
  position: absolute;
  width: 85%;
  height: 100%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.instrument-title {
  position: absolute;
  height: 100%;
  width: 15%;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  display: none;
}

.slider-name {
  display: none;
}

/* Sequencer boxes */
.seq-box {
  height: 48%;
  width: 12.5%;
  border: 0.5px #d3d3d3 solid;
  padding: 0;
}

.single-step {
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
}

.timebar {
  position: absolute;
  width: 85%;
  height: 100%;
  left: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Timebar boxes */
.tb-box {
  height: 17%;
  width: 12.5%;
  border: 0.5px #d3d3d3 solid;
  padding: 0;
  position: relative;
}

@media (min-width: 650px) {
  .sequencer {
    height: 70%;
  }

  .sixteen-steps {
    flex-wrap: nowrap;
  }

  .instrument-title {
    font-size: 0.7rem;
  }

  .seq-box {
    height: 100%;
    width: 6.25%;
    border: 1px #d3d3d3 solid;
    border-right: none;
  }

  .seq-box:last-child {
    border-right: 1px #d3d3d3 solid;
  }

  .timebar {
    flex-wrap: nowrap;
  }

  .tb-box {
    height: 25%;
    width: 6.25%;
    border: 1px #d3d3d3 solid;
    border-right: none;
  }

  .tb-box:last-child {
    border-right: 1px #d3d3d3 solid;
  }
}

@media (min-width: 1000px) {
  .sequencer {
    height: 75%;
  }

  .sixteen-steps {
    width: 50%;
    left: 15%;
  }

  .instrument-title {
    font-size: 0.8rem;
  }

  .slider-container {
    position: absolute;
    width: 35%;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .slider-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
  }

  .slider {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type='range'] {
    width: 85%;
  }

  .timebar {
    width: 50%;
    left: 15%;
  }
}

@media (min-width: 1500px) {
  .sequencer-row {
    width: 90%;
  }
}

@media (min-width: 1700px) {
  .sixteen-steps {
    width: 53%;
    left: 17%;
  }
  .instrument-title {
    width: 17%;
    font-size: 1rem;
  }

  .slider-container {
    width: 30%;
    right: 0;
  }

  .slider-name {
    font-size: 1rem;
  }

  input[type='range'] {
    width: 90%;
  }

  .timebar {
    width: 53%;
    left: 17%;
  }
}
