*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Major Mono Display', monospace;
}

html {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .container {
  max-width: 80vw;
} */

.modalButton {
  padding: 2rem !important;
  font-size: 2rem !important;
  margin: 2rem;
  border-radius: 0 !important;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.transport {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: 25px 50px 0 50px;
  text-align: center;
  font-weight: bold;
}

.transport button {
  margin: 0 8px;
  font-weight: bold;
  border: none;
  outline: none !important;
}

input[type='range'] {
  width: 90px;
}

/* Sequencer boxes */
.seq-box {
  height: 30px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
}

.seq-box-active {
  height: 30px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #fd2c08;
}

/* Timebar boxes */
.tb-box {
  height: 12px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
}

.tb-box-active {
  height: 12px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #5dfc0a;
}
