* {
  font-family: 'Major Mono Display', monospace;
}

.container {
  max-width: 80vw;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.transport {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: 25px 50px 0 50px;
  text-align: center;
  font-weight: bold;
}

.transport button {
  margin: 0 8px;
  font-weight: bold;
  border: none;
}

input[type='range'] {
  width: 90px;
}

/* Sequencer boxes */
.seq-box {
  height: 30px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
}

.seq-box-active {
  height: 30px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #fd2c08;
}

/* Timebar boxes */
.tb-box {
  height: 12px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
}

.tb-box-active {
  height: 12px;
  width: 30px;
  border: 1px #d3d3d3 solid;
  padding: 0;
  position: relative;
  display: inline-block;
  background: #5dfc0a;
}

/* iPad */
@media (max-width: 1200px) {
  .container {
    max-width: 100vw;
    margin: 0;
  }

  /* Sequencer boxes */
  .seq-box {
    height: 39px;
    width: 50px;
  }

  .seq-box-active {
    height: 39px;
    width: 50px;
  }

  /* Timebar boxes */
  .tb-box {
    height: 15px;
    width: 50px;
  }

  .tb-box-active {
    height: 15px;
    width: 50px;
  }
}

/* iPhone 6/7/8 */
@media (max-width: 800px) {
  .container {
    max-width: 100vw;
    margin: 0;
  }

  .transport {
    margin: 15px 50px -10px 50px;
    text-align: center;
  }

  /* Sequencer boxes */
  .seq-box {
    height: 27px;
    width: 27px;
  }

  .seq-box-active {
    height: 27px;
    width: 27px;
  }

  /* Timebar boxes */
  .tb-box {
    height: 10px;
    width: 27px;
  }

  .tb-box-active {
    height: 10px;
    width: 27px;
  }
}
